* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: auto !important;
}

html{
    scroll-behavior: auto !important;
}


.rounded-circle{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #2a9c72;
}
