#menu_btn2{
    display: none;
}

@media (max-width: 1289px) {
    .selling_main{
        padding: 30px 0 !important;
    }
}

@media (max-width: 991px) {
    #menu_btn2{
        display: block !important;
    }
    #menu_btn{
        display: none !important;
    }
    .navbar-brand-box{
        display: none;
    }

    .selling_main{
        align-items: flex-start;
        flex-wrap: wrap;
        height: 164px;
        padding: 10px 0 !important;
    }
    .main_list{
        align-items: flex-start;
        height: auto;
    }
    .main_list li{
        font-size: 14px !important;
    }

    .selling_left_table {
        padding-bottom: 164px !important;
    }
    .selling_item_list{
        padding-bottom: 164px !important;

    }

}

/*.selling_md_flex*/
@media (max-width: 767px) {
    .selling_left_box{
       width: 100% !important;
    }

    .selling_box{
        overflow: auto;
    }
    .selling_search_box{
        position: absolute;
        width: 100%;
    }

}

@media (max-width: 600px) {
    .page-content{
        padding: 43px 0px;
    }
    .main_list{
        align-items: flex-start;
        height: auto;
        padding: 0 1.5px;
    }
    .main_list{
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        flex-direction: column;
        gap: 0;
    }
}
