#menu_btn2{
    display: none;
}
@media (max-width: 991px) {
    #menu_btn2{
        display: block !important;
    }
    #menu_btn{
        display: none !important;
    }
    .navbar-brand-box{
        display: none;
    }

}
/*.selling_md_flex*/
@media (max-width: 767px) {
    .selling_left_box{
       width: 100% !important;
    }

    .selling_box{
        overflow: auto;
    }
    .selling_search_box{
        position: absolute;
        width: 100%;
    }

}

@media (max-width: 600px) {
    .page-content{
        padding: 43px 0px;
    }
}
