/* Holatlarga berilgan stylelar */

.link_active{
    font-weight: bold;
    cursor: not-allowed !important;
}
.cursor-pointer{
    cursor: pointer;
}

.topbar_check{
    display: inline-block;
    margin: 71px 0 !important;
}
.right_bar_active{
    right: 0;
}
/*  */
.menuHidden{
    width: 70px;
    /*display: none;*/
    overflow: hidden;
    padding: 0;
    margin-left: 0px !important;
}
.mainContent{
    margin-left: 60px !important;
}
.menu-text{
    white-space: nowrap !important;
}
.hidden{
    display: none;
}
.logo{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    /*background: #1f7556;*/
    background-image: url("http://127.0.0.1:8000/assets/images/logo-light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
}

.logo_hidden{
    margin: 0 auto;
    margin-top: 10px;
    /*background: aqua;*/
    width: 51px;
    height: 50px;
    padding: 0 !important;
    background-size: contain;

}
.menu-waves-effect{
    display: flex !important;
    overflow: hidden;
}
.menu_active{
    /*background: rgba(13, 225, 200, 0.23);*/
    color: white !important;
}
